@{
    ViewBag.Title = "Browse Sprays - Spray Maker v3";
}

<div class="hero-unit">
  <h1>TFSprays Gallery is no longer available</h1>
  <p></p>
  <p><b>Q: Why is the gallery gone?</b></p>
  <p>A: Because it was costing me over $100/mo in bandwidth, when I am only getting ~$20 (if that) in ad revenue. This hobby is quickly becoming way too expensive.</p>

  <p><b>Q: Where can I find sprays now?</b></p>
  <p>A: I suggest <a href="http://tf2.gamebanana.com/sprays">GameBanana</a> or <a href="http://gamesprays.com">Game Sprays</a>.</p>

  <p><b>Q: Can I still make sprays?</b></p>
  <p>A: Yes.</p>

  <p><b>Q: Can I still share the sprays I make?</b></p>
  <p>A: Yeah! Sprays can be marked as "public", like always. "Unlisted" is going away, since all public sprays are technically unlisted.</p>

  <p><b>Q: Can I donate money to keep the gallery here?</b></p>
  <p>A: No -- unless you want to pay $80 a month...</p>

  <p><b>Q: Can't you just put more ads on?</b></p>
  <p>A: No.</p>

  <p><b>Q: I want to complain!</b></p>
  <p>A: That's not a question. But you can tweet @@cjung.</p>
</div>