@model SpraySite.Models.SprayListModel

@{
    ViewBag.Title = "Browse Sprays - Spray Maker v3";
}

@Html.Partial("BrowseNav")

@Html.Partial("BrowseLoop")

<ul class="pager">
    @if (Model.Start == 0){
        <li class="disabled"><a href="#">Newer</a></li> 
    } 
    else
    {
        <li><a href="@Url.Action("Newest", "Browse", new { after = Model.Prev })">Newer</a></li>   
    }

    @if (Model.Start == Model.Next){
        <li class="disabled"><a href="#">Older</a></li> 
    } 
    else
    {
        <li><a href="@Url.Action("Newest", "Browse", new { after = Model.Next })">Older</a></li>
    }
</ul>