@model SpraySite.Models.SprayListModel

@{
    ViewBag.Title = "Saved Sprays - Spray Maker v3";
}

<h2>Saved Sprays</h2>
@if (Model.Sprays.Count == 0)
{
    <p class="lead">You haven't saved any sprays! Why don't you <a href="@Url.Action("Top", "Browse")">look for some?</a></p>
}

@Html.Partial("BrowseLoop")

<ul class="pager">
    @if (Model.Start == 0){
        <li class="disabled"><a href="#">Newer</a></li> 
    } 
    else
    {
        <li><a href="@Url.Action("Saved", "Browse", new { after = Model.Prev })">Newer</a></li>   
    }

    @if (Model.Start == Model.Next){
        <li class="disabled"><a href="#">Older</a></li> 
    } 
    else
    {
        <li><a href="@Url.Action("Saved", "Browse", new { after = Model.Next })">Older</a></li>
    }
</ul>