@{
    ViewBag.Title = "Error - Spray Maker v3";
}

<h1 class="text-center">Oh no!</h1>
<h2 class="text-center">That page doesn't exist!</h2>
<img src="@Url.Content("~/Content/images/404_cat.jpg")" class="img-polaroid" />
<h3 class="text-center">In the meantime, here's a picture of a cat in a hat!</h3>
<div class="text-center">
    <small>(Thanks, <a href="http://www.flickr.com/photos/catsintrees/3766803628/">Cats in trees</a>!)</small>
</div>
