@{
    ViewBag.Title = "Read Only Mode - Spray Maker v3";
}

<h1 class="text-center">TFSprays is currently in read-only mode.</h1>
<h2 class="text-center">We'll be back as soon as possible!</h2>
<img src="@Url.Content("~/Content/images/error_cat.jpg")" class="img-polaroid" />
<h3 class="text-center">In the meantime, here's a picture of a cat in a hat!</h3>
<div class="text-center">
    <small>(Thanks, <a href="http://www.flickr.com/photos/29233640@N07/5770462910/">Robert Couse-Baker</a>!)</small>
</div>
